.movies-page {
  max-width: 1240px;
  margin: auto;
  padding: 0 40px;
}

hr {
  margin: 0;
  border-color: #C0C4CC;
}

.movies-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .movies-list {
    justify-content: space-between;
  }
}