.movie {
  position: relative;
  width: 282px;
  height: 348px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #E1E3E6;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);
  transition: 200ms all;
  transform: translateY(0);
  margin-bottom: 27px;
  cursor: pointer;
}

.movie:hover {
  box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.movie .image-container {
  width: 100%;
  height: 302px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.movie .image-container .rating {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 34px;
  height: 34px;
  line-height: 30px;
  font-weight: 600;
  border-radius: 50%;
  background: #FFFFFF;
  text-align: center;
  border: 1px solid #000000;
}

.movie .title-container {
  text-align: center;
  font-size: 16px;
}