.overlay-container {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
}

.movie-overlay {
  position: relative;
  margin: auto;
  top: Calc(50vh - 240px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 474px;
  max-width: 583px;
  background: #FFFFFF;
  padding: 0px 20px 27px 27px;
}

.close {
  background: none;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.movie-overlay .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.movie-overlay .header .title {
  margin: 0;
  padding: 0;
}

.movie-overlay .content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.movie-overlay .content .movie-image {
  height: 420px;
  width: 100%;
}

.movie-overlay .content .movie-details {
  padding-top: 10px;
  font-size: 14px;
}

.movie-overlay .movie-details .overview {
  padding: 15px 0;
}

.movie-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.release-date-text, .vote-average {
  font-weight: 600;
}

@media screen and (min-width: 426px) {
  .movie-overlay .content .movie-image {
    width: 50%;
  }
  
  .movie-overlay .content .movie-details {
    padding-top: 0;
    padding-left: 22px;
    width: 50%;
    font-size: 14px;
  }
  
}